.four_zero_four_bg{
    background-image: url(../assets/image/404.gif);
    height: 400px;
    background-position: center;
}
 
.four_zero_four_bg h1{
    font-size:80px;
}
.home {
    font-size: 50px;
    color: #000
}
.contant_box_404{ margin-top:-50px;}