* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.b-nav {
  position: fixed;
  bottom: 0;
  height: 8vh;
  background-color: rgb(5, 0, 5);
  width: 70%;
  margin-left: 15%;
  border-radius: 15% 15% 0% 0%;
}

.b-nav-links {
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 auto;
}

.b-nav-link {
  color: white;
  text-decoration: none;
  font-size: 3vh;
  opacity: 0.7;
  letter-spacing: 2px;
  padding-bottom: 3px;
}

.b-nav-link:hover {
  font-size: 3.1vh;
  opacity: 1;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

@media screen and (max-width: 1000px) {
  .b-nav {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .b-nav-links {
    width: 100%;
  }

  .b-nav-link {
    margin-right: 3px;
    margin-left: 3px;
  }
}
