/* Headings */
.mainPageHeading {
  font-size: 72px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.subHeading {
  font-size: 56px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: rgb(39, 39, 39);
}

/* for hover effects on cards */
.shadow-hover {
  transition-duration: 0.2s;
  margin: 5px auto;
  border-radius: 10px;
}

.shadow-hover:hover {
  box-shadow: 2px 2px 10px 10px rgba(255, 31, 255, 0.226);
  background-color: white;
  transform: scale(1.03);
  cursor: default;
}

.my-card-details {
  background-color: rgba(255, 255, 255, 0.651);
  text-align: left;
}

.announcement-card,
.link-card,
.poll-card {
  transition-duration: 0.2s;
  opacity: 0.9;
  border-radius: 20px;
  width: 80vw;
}

.announcement-card {
  background-color: wheat;
}

.poll-card {
  background-color: rgb(233, 233, 233);
}

.link-card {
  background-color: lightgreen;
}

.announcement-card:hover,
.link-card:hover,
.poll-card:hover {
  opacity: 1;
  transform: scale(1.02);
  box-shadow: 2px 2px 5px 5px rgba(179, 255, 179, 0.295);
  cursor: default;
}

.link-card {
  overflow: hidden;
}

.ann-container {  
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  object-fit: contain;
}

@media screen and (min-width: 576px){
  .ann-container {
    width: 101vw;    
    background: #aaa url("https://st.depositphotos.com/1032463/1373/i/450/depositphotos_13732950-stock-photo-background-of-old-vintage-newspapers.jpg") fixed;
    background-blend-mode: soft-light;    
  }
}

.my-flex-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lectures-row {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  overflow-y: hidden;
  justify-content: flex-start;
  align-self: stretch;
}

.lec-card {
  height: 100%;
  margin-left: 0;
  padding: 20px;
  overflow-wrap: break-word;
}

.lectures-row::-webkit-scrollbar {
  display: none;
}

.subject-card {
  height: 100%;
  padding: 20px;
}

.subject-card:hover {
  transform: scale(1.03);
}

.btn-lec {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: stretch;
  justify-content: space-around;
}

.join-copy {
  width: 45%;
}

p {
  letter-spacing: 0.8px;
}

.key-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.code-head-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

@media (max-width: 350px) {
  .key-container {
    flex-direction: column;
  }
  .code-head-btn {
    flex-direction: column;
    align-items: center;
  }  
}

.add-lec-subject {
  cursor: pointer;
}

.vertical-line {
  display: inline-block;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 100px;
  margin: 0 10px;  
}

/*  */
/*  */

/* New Cards */
.lec-hover:hover {
  box-shadow: 2px 2px 10px 10px rgba(58, 53, 58, 0.363);
  transform: scale(1.03);
  cursor: default;
}


.lec {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px 20px 20px 0;
	overflow: hidden;
  width: 600px;
  min-height: 280px;
  transition-duration: 0.2s;
}

.dark .lec {
  background-color: #24292b;
  color: #fff;
}

.lec h2, .up h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.lec hr {
  background: #8d8c8c;
}

.lec-preview, .ann-preview {
  background-color: #2A265F;
  background: linear-gradient(60deg, #082796c7, #812b80);
	color: #fff;
	padding: 30px;
	width: 50%;
}

.ann-preview {
  width: 40%;
}

.ann-preview img {
  width: 100px;
}

.dark .ann-preview img {
  filter: invert(90%);
}

.lec-info, .ann-info{
	padding: 20px;
	position: relative;
  width: 100%;
}

.ann-info {
  overflow-wrap: anywhere;
}

.lec .time, .lec .main-data {
  height: 120px;  
}

.lec .time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lec-btn, .link-btn {
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;	
  letter-spacing: 1px;
  text-decoration: none;
}

.link-btn {	
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.lec-btn:hover {
  text-decoration: none;
}

.up:hover {
  box-shadow: 2px 2px 10px 10px rgba(58, 53, 58, 0.363);
  transform: scale(1.03);
  cursor: default;
}


.up {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px 20px 20px 0;
	overflow: hidden;
  width: 600px;
  transition-duration: 0.2s;
}

.dark .up {
  background-color: #24292b;
  color: #fff;
}

.dark .table {
  color: #fff;
}

.up h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
  text-align: end;
  vertical-align: middle;
}

.up .emoji {
  font-size: 100px;
}


@media screen and (max-width: 576px) {
  .mainPageHeading {
    font-size: 52px;
  }
  .subHeading {
    font-size: 42px;
  }
  .up .emoji {
    font-size: 50px !important;
  }
  .up h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: -0.3px;
    vertical-align: middle;
  }
  .link-btn {    
    font-size: 12px;
    padding: 5px 10px;    
    bottom: 3%;
    right: 3%;
  }
  .up h4, .lec h4{
    font-size: 1rem;
  }
  .lec-preview {
    padding: 30px 15px 30px 15px;
  }
  .ann-preview img {
    width: 55px;
  }
  .ann-info {
    padding: 20px 10px 20px 10px;
  }
  .lec {    
    min-height: 230px;
  }
  .lec h3 {
    font-size: 1.2rem;
  }
  .lec h2 {
    font-size: 1.5rem;
  }
  .lec h5 {
    font-size: .75rem;
  }
  .lec-btn {
    font-size: 12px;
    padding: 5px 10px;
  }
  .lec .time, .lec .main-data {
    height: 100px !important;
  }
}
  
.wrong-pass {
  animation-name: shake, glow-red;
  animation-duration: 0.7s, 0.35s;
  animation-iteration-count: 1, 2;
}

@keyframes shake {
  0%, 20%, 40%, 60%, 80% {
    transform: translateX(8px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }
}

@keyframes glow-red {
  50% {
    border-color: indianred;
  }
}

.acc-dropdown{  
  color: black !important;
  background-color: transparent;
  border: none;
}

.acc-dropdown:hover, .acc-dropdown:active , .acc-dropdown:focus{
  background-color: transparent !important;
  border: none !important
}