.loader {
  height: 40vh;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
  margin-top: 50vh;
  position: relative;
  display: flex;
}

.loader span {
  display: block;
  width: 20px;
  height: 20px;
  background: #fe8e07;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
  background: #ff7020;
}

.loader span:nth-child(3) {
  background: #ff4d41;
}

.loader span:nth-child(4) {
  background: #ff2466;
}

.loader span:nth-child(5) {
  background: #ff087d;
}


@keyframes animate {
  0% {
    background: #fe8e07;
    transform: translateX(0);
  }
  12.25% {
    background: #ff7020;
  }
  24.5% {
    background: #ff4d41;
  }
  36.75% {
    background: #ff2466;
  }
  
  49% {
    background: #ff087d;
    transform: translateX(120px);
  }
  51% {
    background: #ff087d;
    transform: translateX(120px);
  }
  63.25% {
    background: #ff2466;
  }
  75.5% {
    background: #ff4d41;
  }
  87.75% {
    background: #ff7020;
  }
  100% {
    background: #fe8e07;
    transform: translateX(0px);
  }
}
.loader span {
  animation: animate 6s linear infinite;
}

.loader span:nth-child(2) {
  animation: ch2 6s ease-in-out infinite;
}
.loader span:nth-child(3) {
  animation: ch3 6s ease-in-out infinite;
}

.loader span:nth-child(4) {
  animation: ch4 6s ease-in-out infinite;
}
.loader span:nth-child(5) {
  animation: ch5 6s ease-in-out infinite;
}

@keyframes ch2 {
  0% {
    transform: translate(0, 0);
  }
  3.75% {
    transform: translate(0px, -30px);
  }
  7.5% {
    transform: translate(-30px, -30px);
  }
  11.25% {
    transform: translate(-30px, 0px);
  }
  86.75% {
    transform: translate(-30px, 0px);
  }
  90.5% {
    transform: translate(-30px, 30px);
  }
  94.25% {
    transform: translate(0px, 30px);
  }
  98% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ch3 {
  11.25% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -30px);
  }
  18.75% {
    transform: translate(-30px, -30px);
  }
  22.5% {
    transform: translate(-30px, 0px); 
  }
  75.25% {
    transform: translate(-30px, 0px);
  }
  79% {
    transform: translate(-30px, 30px);
  }
  82.75% {
    transform: translate(0px, 30px);
  }
  86.5%{
    transform: translate(0, 0);
  }  
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ch4 {
  24.5% {
    transform: translate(0px, 0px);
  }
  28.25% {
    transform: translate(0px, -30px);
  }
  32% {
    transform: translate(-30px, -30px);
  }
  35.75% {
    transform: translate(-30px, 0px); 
  }
  64% {
    transform: translate(-30px, 0px);
  }
  67.75% {
    transform: translate(-30px, 30px);
  }
  71.5% {
    transform: translate(0px, 30px);
  }
  75.25% {
    transform: translate(0, 0);    
  }  
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ch5 {
  37.75% {
    transform: translate(0px, 0px);
  }
  41.5% {
    transform: translate(0px, -30px);
  }
  45.25% {
    transform: translate(-30px, -30px);
  }
  48% {
    transform: translate(-30px, 0px); 
  }
  50.75% {
    transform: translate(-30px, 0px);
  }
  55.5% {
    transform: translate(-30px, 30px);
  }
  59.25% {
    transform: translate(0px, 30px);
  }
  62% {
    transform: translate(0, 0);        
  }  
  100% {
    transform: translate(0, 0);
  }
}