* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #d4cece;
  height: 8vh;
  font-size: 2.3vh;
  display: flex;
}

.dark nav {
  background-color: #24292b;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 15%;
}

.brand li {
  color: #000000;
  font-size: 4vh;
  list-style: none;
  transition: all 0.3s ease;
  opacity: 0.8;
  position: absolute;
  left: 70px;
  z-index: 2;
}

.dark .brand li {
  color: #ffffff;
}

.brand li:hover {
  font-size: 4.5vh;
  opacity: 1;
}

.logo {
  height: 6vh;
  width: 6vh;
  position: absolute;
  top: 1vh;
  left: 1vh;
  border-radius: 15% 15%;
  z-index: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: 5vw;
  list-style: none;
  z-index: 1;
}

.nav-link {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.7;
  transition: 0.3s ease;
}

.dark .nav-link {
  color: #ffffff;
}

.nav-link:hover {
  text-decoration: none !important;
  font-size: 2.7vh;
  color: white;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  nav {
    position: relative;
  }

  .nav-links {
    position: absolute;
    background-color: #d4cece;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    clip-path: circle(100px at 100% -15%);
    -webkit-clip-path: circle(100px at 100% -15%);
    transition: all 1s ease-in-out;
    pointer-events: none;
  }

  .dark .nav-links {
    background-color: #24292b;
  }

  .nav-links.open {
    clip-path: circle(1300px at 100% -15%);
    -webkit-clip-path: circle(1300px at 100% -15%);
    pointer-events: all;
  }
  .nav-link:hover {
    font-size: 3.5vh;
  }
  .hamburger {
    border: 1px solid #000000;
    border-radius: 15% 15%;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 2;
  }
  .dark .hamburger {
    border: 1px solid #ffffff;
  }
  .dark .line {
    background-color: #ffffff;
  }
  .line {
    height: 3px;
    width: 30px;
    margin: 5px;
    background-color: #000000;
  }
}